div(class="downloads" style="font-family: Sans-serif; text-align: center;")
  h3 YourRO Download Links
  hr(style="color: black; height: 1px; background-color: black;")
  a(href=`${req.WebConfig.StaticFilesDir}/download/?file=YourRO_Full.exe` class="h5") 📥 YourRO Full Installer
  br
  small(style="color: rgb(100, 100, 100);") Last Updated June 04 2019
  p This would install the YourRO client on your pc. You also won't need to download the full version of kRO.

  br
  a(href=`${req.WebConfig.StaticFilesDir}/download/?file=YourRO_Mini_Installer.exe` class="h5") 📥 YourRO Mini Installer
  br
  small(style="color: rgb(100, 100, 100);") Last Updated June 04 2019
  p This would only install YourRO exe, patcher, grf and other custom files created or modified by YourRO. You would need KRO version 
    span(style="color: red;")
      b 2018-08-13